header {
  display: flex;
  align-items: center;
  position: fixed;
  border-bottom: 1px solid seashell;
  width: 100%;
  height: 69px;
  background-color: black;
  z-index: 2;
}

header img {
  height: 50px;
}

nav {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

nav span {
  padding: 20px 15px;
}

a {
  color: seashell;
}

.test:target {
  padding-top: 79px;
  margin-top: -69px;
}


/* Main content */

body {
  display: flex;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  justify-content: center;
  margin: auto;
}

.content {
  display: flex;
  width: 100%;
  padding-top: 61px;
  flex-direction: column;
  align-items: center;
}

.our_mission {
  display: flex;
  background-image: url("../images/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  align-items: center;
  background-position: center;
}

.mission_middle {
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 1200px;
  height: auto;
  align-items: center;
  text-align: center;
}

.mission_middle h2, h4 {
  display: flex;
  margin: 0;
  padding: 10px;
  width: 100%;
  justify-content: center;
}


/* Tea of The Month Heading and Menu */

.tea_month {
  display: flex;
  flex-direction: column;
  width: 1000px;
  padding: 70px 25px;
}

.tea_month h2, h4 {
  margin: auto;
  padding: 10px 0px;
  width: 100%;
  text-align: center;
}

.menu_photos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  width: 100%;
}

.individual_photos {
  display: inline-block;
}

.individual_photos img {
  display: block;
  height: 200px;
  width: 300px;
  padding: 5px;
  margin: 10px;
}

.individual_photos h4 {
  display: block;
  align-content: center;
  justify-content: center;
  width: 300px;
}


/*Store Locations*/

.store_locations {
  display: flex;
  flex-direction: column;
  background-image: url("../images/img-locations-background.jpg");
  background-position: center;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 500px;
  padding: 70px 0px;
  background-repeat: no-repeat;

}

.store_locations h2 {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 0px;
  padding: 10px;
}

.individual_stores_flex {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;

}

.individual_stores {
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  opacity: 1;
  flex-basis: 280px;
  height: auto;
  margin: 5px 20px;
  padding: 10px;
}

.individual_stores h3, p {
  display: flex;
  justify-content: center;
  text-align: center;
  align-content: center;
  align-items: center;
  margin: 15px 0px;
  padding: 10px 0px;
  width: 100%;
}


/* Contact and Footer */

.contact {
  display: flex;
  height: 200px;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 10px;
}

footer {
  text-align: left;
}
